<navigation-bar></navigation-bar>
<div class="container">
  <input [(ngModel)]="searchedArtist" class="input is-primary" type="text" placeholder="WHAT ARE YOU LOOKING FOR"><br><br>
  <button (click)="search()" class="button is-primary is-pulled-right">Search</button>
  <input id="switchThinColorDefault" [(ngModel)]="areColumnsSortedAscendently" type="checkbox" name="switchThinColorDefault" class="switch is-large">
  <label for="switchThinColorDefault">A-Z</label>
  <br>
  <hr>
  <div class="table-searching" *ngIf="searhingResult != undefined">
    <table class="table">
      <thead *ngIf="areColumnsSortedAscendently">
      <tr>
        <th><abbr>Album Name</abbr></th>
        <th><abbr>Artist Name</abbr></th>
        <th><abbr>Image Cover</abbr></th>
        <th><abbr>Price</abbr></th>
        <th><abbr>Song Name</abbr></th>
        <th><abbr>Time</abbr></th>
      </tr>
      </thead>
      <thead *ngIf="!areColumnsSortedAscendently">
      <tr>
        <th><abbr>Time</abbr></th>
        <th><abbr>Song Name</abbr></th>
        <th><abbr>Price</abbr></th>
        <th><abbr>Image Cover</abbr></th>
        <th><abbr>Artist Name</abbr></th>
        <th><abbr>Album Name</abbr></th>
      </tr>
      </thead>
      <tbody *ngFor="let result of searhingResult">
      <tr *ngIf="areColumnsSortedAscendently">
        <td>{{result.collectionName}}</td>
        <td>{{result.artistName}}</td>
        <td>
          <figure class="image is-64x64">
            <img src="{{result.artworkUrl30}}">
          </figure>
        </td>
        <td>Price of the track: {{result.trackPrice}} <br>Price of the album: {{result.collectionPrice}} </td>
        <td>{{result.trackName}}</td>
        <td>{{result.trackTimeMillis}}</td>
        <td>
          <audio controls>
            <source src="{{result.previewUrl}}" type="audio/mpeg">
          </audio>
        </td>
      </tr>
      <tr *ngIf="!areColumnsSortedAscendently">

        <td>{{result.trackTimeMillis}}</td>
        <td>{{result.trackName}}</td>
        <td>Price of the track: {{result.trackPrice}} <br>Price of the album: {{result.collectionPrice}} </td>
        <td>
          <figure class="image is-64x64">
            <img src="{{result.artworkUrl30}}">
          </figure>
        </td>
        <td>{{result.artistName}}</td>
        <td>{{result.collectionName}}</td>
        <td>
          <audio controls>
            <source src="{{result.previewUrl}}" type="audio/mpeg">
          </audio>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
