<input [(ngModel)]="searchedArtist" type="text">
<button (click)="search()">Search</button>
<div class="table-searching" *ngIf="searhingResult != undefined">
  <table class="table">
    <thead>
      <tr>
        <th><abbr>Album Name</abbr></th>
        <th><abbr>Artist Name</abbr></th>
        <th><abbr>Image Cover</abbr></th>
        <th><abbr>Price</abbr></th>
        <th><abbr>Song Name</abbr></th>
        <th><abbr>Time</abbr></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><abbr>Album Name</abbr></th>
        <th><abbr>Artist Name</abbr></th>
        <th><abbr>Image Cover</abbr></th>
        <th><abbr>Price</abbr></th>
        <th><abbr>Song Name</abbr></th>
        <th><abbr>Time</abbr></th>
      </tr>
    </tfoot>
    <tbody *ngFor="let result of searhingResult">
      <tr>
        <td>{{result.collectionName}}</td>
        <td>{{result.artistName}}</td>
        <td>
          <figure class="image is-64x64">
            <img src="{{result.artworkUrl30}}">
          </figure>
        </td>
        <td>Price of the track: {{result.trackPrice}} <br>Price of the album: {{result.collectionPrice}} </td>
        <td>{{result.trackName}}</td>
        <td>{{result.trackTimeMillis}}</td>
        <td>
          <audio controls>
            <source src="{{result.previewUrl}}" type="audio/mpeg">
          </audio>
        </td>
      </tr>
    </tbody>
  </table>
</div>
